{%  extends "main_template.html" %}


{% block title%}

{% endblock %}




{% block content %}



      {% if  a %}
      <h2>
        No tasks available.
        <a href="{% url 'create-task' %}">Create One</a>
      </h2>
      {% else %}
            {% for task in tasks %}

            
            <div class="box">
                <h2>
                    
                    <ul>
                      <li>
                        <a href="{% url 'into-task' task.id %}?q={{task.name}}">{{task.name}}</a>
                        <h6>
                            <a href="{% url 'delete-task' task.id %}">Delete {{task.name}}</a>| |
                            <a href="{% url 'update-task' task.id %}">Edit</a>
                        </h6>
                      </li>
                    </ul>
                </h2>
            </div>
            {% endfor %}
            
      {% endif %}

{% endblock %}