{% extends 'main_template.html'%}


{% block content %}


    <div>
        {% for task in tasks %}
        <style>
            .box{
                color: rgb(24, 84, 64);
                border: 2px solid #000;
                padding:10px
            }
        </style>

        <div class="box">
            
        
            <ul> 
                
                    <li>
                    <h1>
                        {{task.name}}
                    </h1>
                    <h2>
                        Name :{{task.priority}}
                        <br>
                        <hr>
                        priority:{{task.priority}}
                        <br>
                        <hr>
                        Due Date :{{task.due_date}}
                        <hr>
                    </h2>
                    </li>
                    
                
            </ul>
        </div>
 
        {% endfor %}

    </div>


{% endblock %}