{%  extends "main_template.html" %}


{% block title%}

{% endblock %}




{% block content %}

<style>
  /* .container-fluid{
    background-color:blueviolet;
  } */
  .box{
    height:100vh;
    background-color:whitesmoke;

  }
  .box-description{
    background-color: whitesmoke;
    position: relative;
  }
</style>

      <div class="container-fluid">
        <div class="row">
          <div class="col-2">
            <div class="box-user" style="background-color: rgb(83, 133, 226); height:100vh;">
          
                <a href="{% url 'user-profile'%}">
                  <div class="box-profile" style="color: white; padding-left: 7px ; padding-top: 7px;">
                  <h3>
                    {{request.user.username}}
                  </h3>
                </div>
                </a>
              
            </div></div>
            <div class="col">
              <div class="box">
              
                <div class="container px-3" >
                  {% if  a %}
                  <h2>
                    No tasks available.
                    <a href="{% url 'create-task' %}">Create One</a>
                  </h2>
                  {% else %}
                  {% for task in tasks %}
                  <!-- -----------------------------------=----------------------------------------------------------------------------- -->
                  <h2> 
                    
                    <ul>
                      <li>
                        <a href="{% url 'into-task' task.id %}?q={{task.name}}">{{task.name}}</a>
                        <h6>
                            <a href="{% url 'delete-task' task.id %}">Delete {{task.name}}</a>| |
                            <a href="{% url 'update-task' task.id %}">Edit</a>
                            <h3>
                              {% if task.description is None %}
                              {%else%}
                              <div class="container">
                                <h3>
                                  {{task.description}}
                                </h3>
                              </div>
                             
                              
                              {%endif%}
                            </h3>
                        </h6>
                      </li>
                    </ul>
                    
                </h2>
                
                </div>

              {%endfor%}
              </div></div>
              <div class="col">
                <div class="box"></div></div>
        </div>
       
        </div>
        
      </div>

            
      {% endif %}

{% endblock %}

