{% extends "main_template.html" %} 
{% block title%} 
{% endblock %}







{% block content %}
<style>
  /* .container-fluid{
    background-color:blueviolet;
  } */
  .box{
    height: 100vh;
    background-color:whitesmoke;
    
  }
  .box-sidebar{
    background-color: rgb(11, 11, 83);;
    height:100vh;
  }
  .box-description {
    background-color: whitesmoke;
    position: relative;
  }
  .card-header{
    background-color: white;
  }
  .card{
    background-color: rgb(75, 75, 214);
  }

  .container-tasks{
    height: 100vh;
    overflow-y: scroll;
  }
</style>

{% block scripts%}

{% endblock%}

<div class="container-fluid">
      <div class="row">
            <!-- col1------ -->
            <div class="col-2">
                  <div class="box-sidebar">
                        <div class="container">
                          <a href="{%url 'user-profile'%}">
                                <h3 style="color:white">{{request.user.username}}
                                </h3>
                          </a>
                        </div>
                  </div>
            </div>
            <!-- col2------ -->
            <div class="col">
                  <div class="box">
                        <div class="container-tasks py-3 px-3">
                              {% if not a%}
                              <h3>No Task cards available !!
                                <br>
                                <a href="{% url 'create-task' %}">Create one</a>
                              </h3>
                              {% else %}
                              <h3>Task Cards</h3>
                             
                                {% for task in tasks_a%}
                    
                                <!-- card-------- -->
                                <div  class="card text-center mb-3" style="width: 27rem;">
                            
                                  <div class="card-body">
                                        <h5 class="card-header"><a href="{% url 'into-task' task.id %}"><h3>{{task.name}}</h3></a></h5>
                                            {% if task.description %}
                                          
                                            <p class="card-text">{{task.description}}</p>
                                            {% else %}
                                            {% endif %}
                                            <a href="{% url 'complete-task' task.id %}" class="btn btn-primary">Complete</a>
                                            <a href="{% url  'delete-task' task.id %}" class="btn btn-secondary">Delete</a>
                                            <a href="{% url  'update-task' task.id %}" class="btn btn-primary">Edit</a>
                                            
                                  </div>
                                  
                                 
                                 
                                 
                                </div>
                                {% endfor %}

                              
            
                              {% endif%}
                              
                        </div>
                  </div>
            </div>
            <!-- col3--------->
          <div class="col">
            <div class="box">
              <div class="container-tasks py-3 px-3">
                {% if not b %}
                <h3> Completed Task Cards</h3>
                {% for task in tasks_b%}
                <div  class="card text-center mb-3" style="width: 27rem;">
            
                  <div class="card-body">
                        <h5 class="card-header"><a href="{% url 'into-task' task.id %}"><h3>{{task.name}}</h3></a></h5>
                            {% if task.description %}
                          
                            <p class="card-text">{{task.description}}</p>
                            {% else %}
                            {% endif %}
                            <a href="{% url 'restore-task' task.id %}" class="btn btn-primary">Restore</a>
                            <a href="{% url  'delete-task' task.id %}" class="btn btn-secondary">Delete</a>
                            <a href="{% url  'update-task' task.id %}" class="btn btn-primary">Edit</a>
                            
                  </div>
                  
                 
                 
                 
                </div>
                {% endfor %}
                {% else %}
                <h3>No completed Task cards available !!
                  <br>
                </h3>
              
                    
                <!-- card-------- -->
      
                {%endif%}
              </div>

            </div>
          </div>
                      
            <div>
      </div>
</div>


{% endblock %}


































         











