{% extends 'main_template.html' %}

{% block content %}



{%if page == "login"%}
<div>

    
    <div class="container border">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="container px-4"></div>
                        <form method="POST" action="" >

                            {% csrf_token %}
                    
                            <label >Useraname</label>
                            <input type="text" name="username" placeholder="Enter Username">
                            <br>
                            <br>
                            <label>Password</label>
                            <input type="password" name="password" placeholder="Enter Password">
                    
                            <input type="submit" value="submit">
        
        
                            <p>Havent signed up yet ?</p>
                            <a href="{% url 'register' %}">Sign up</a>
                    
                    
                    
                    
                        </form>
                    
                </div>
                
             
            </div>
        </div>

    </div>
    
    
</div>

{%else%}

<div>
    <form method="POST" action="">

        {% csrf_token %}
        {{form.as_p}}

        <input type="submit" value="Register">

    </form>
    <p>Already signed up</p>
    <a href="{%url 'login'%}">Login</a>
</div>
{%endif%}
{% endblock %}