{% extends 'main_template.html' %}

{% block content %}



{%if page == "login"%}
<div>

    
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-7">
                <div class="container px-4" style="background-color: rgb(29, 29, 80);">
                    <div class="col" style="height:50vh">

                            <form method="POST" action="">

                                {% csrf_token %}
                                <div class="mb-3">
                                        <label  class="form-label">USERNAME</label>
                                        <input type="text" name="username" class="form-control" placeholder="Enter your Username">
                                </div>
                                <div class="mb-3">
                                        <label class="form-label">PASSWORD</label>
                                        <input type="password" name="password" class="form-control" placeholder="Enter your Password">
                                </div>
                                <input type="submit" class="btn btn-primary" value="submit">                           
                                <p>Havent signed up yet ?</p>
                                <a href="{% url 'register' %}">Sign up</a>
                            </form>

                    </div>

                   
                
                </div>

                </div>
                
             
            </div>
        </div>

    </div>
    
    
</div>

{%else%}

<div>
    <form method="POST" action="">

        {% csrf_token %}
        {{form.as_p}}

        <input type="submit" value="Register">

    </form>
    <div class="container">
        <h3 style="color: white;">
        Already signed up ? </h3>
    <a href="{%url 'login'%}">Login</a>

    </div>
    
</div>
{%endif%}
{% endblock %}